* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.container {
  background: #fff;
  margin: auto;
  max-width: 640px;
  position: static;
}

/* navbar */
nav {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.09);
}

.logo {
  width: 80px;
}

/* hero (photo-grid) */
section {
  position: relative;
  justify-items: center;
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero--photo > img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.hero--header {
  text-align: center;
  line-height: 100%;
  margin: 20px 0 10px 0;
  font-size: 28px;
  font-weight: bold;
}
.hero--text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
  color: #222222;
}

/* cards */
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.card {
  width: 140px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  /* height: 30vw;
  object-fit: none; */
  border-radius: 10px;
  margin-bottom: 5px;
}

.card--title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  gap: 5px;
  display: flex;
  align-items: center;
}

.card--star {
  width: 14px;
}

.card--price {
  margin-top: auto;
  margin-bottom: 10px;
}

.card--badge {
  position: absolute;
  font-size: 10px;
  top: 5px;
  left: 3px;
  background: white;
  padding: 5px 7px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 5px;
  border-radius: 5px;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}
